.teamMembers{
    padding: 96px 0;
    background-color: #EFF7F2;
    &__title{
        font-weight: 700;
        font-size: 48px;
        line-height: 56.25px;
        color: #0B0706;
        margin-bottom: 16px;
        text-align: center;
    }
    &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 21.09px;
        color: #525560;
        text-align: center;
        margin-bottom: 64px;
        max-width: 519px;
        opacity: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        text-align: center;
        h3{
            
            font-weight: 700;
            font-size: 24px;
            line-height: 28.13px;
            color: #0B0706;
           
        }
        p{
            margin-top: 8px;
            font-weight: 400;
            font-size: 16px;
            line-height: 18.75px;
            color: #1D2130;
            opacity: 60%;
        }
        &-social{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            margin-top: 16px;
        }
    }
}