.whatWeDo{
    padding: 96px 0;
    background: #EFF7F2;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__name{
        display: flex;
        align-items: center;
        gap: 8px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        line-height: 18.75px;
        letter-spacing: 2px;
        color: #0B0706;
        margin-bottom: 32px;
        hr{
            width: 72px;
            height: 3px;
            background-color: #0B0706;
        }
    }
    &__title{
        margin-left: 72px;
        max-width: 608px;
        font-weight: 700;
        font-size: 48px;
        line-height: 56.25px;
        color: #0B0706;
    }
    &__text{
        margin-left: 72px;
        margin-top: 16px;
        max-width: 608px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        color: #525560;
    }
    &__list{
        margin-left: 72px;
        margin-top: 32px;
        border-left: 1px solid #E5E5E5;
        padding-left: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        
    }
    &__item{
        display: flex;
        gap: 24px;
        img{
            width: 28px;
            height: 28px;
        }
        h3{
            font-weight: 700;
            font-size: 24px;
            line-height: 28.13px;
            color: #1D2130;
        }
        p{
            margin-top: 8px;
            font-weight: 400;
            font-size: 16px;
            line-height: 18.75px;
            color: #525560;
            max-width: 384px;
        }
    }
    
}